@font-face {
    
font-family: 'Nautilus Pompilius';
    
src: local('fonts/Nautilus Pompilius'), 
local('fonts/NautilusPompilius'), 
url('fonts/nautiluspompilius.woff2') format('woff2'), 
url('fonts/nautiluspompilius.woff') format('woff'), 
url('fonts/nautiluspompilius.ttf') format('truetype');
   
font-weight: 400;
    
font-style: normal;

}





@font-face {
	    font-family: a_machinaortoshtregular;
	    src: local("a_machinaortoshtregular"),
         url(fonts/a_machinaortoshtregular.ttf);
  }



body 
{
background-image: url(images/1.jpg);           
background-repeat: no-repeat;  
background-size: 100%;  
background-attachment: fixed; 
margin:0;  
background-position: 50% 0%;
background-color: #000000 ;

}

#mainheader{font-size: 100px;
color: #E0FFFF; 
text-align: center;
font-family:a_machinaortoshtregular;
padding: 30px 30px 0px 30px;
font-size: 190px;
letter-spacing: 30px;
text-shadow: #000000 1px 1px 0, #cad5e2 2px 2px 0, 
                 #87CEEB 6px 6px 0, #cad5e2 4px 4px 0, 
                 #cad5e2 7px 7px 0;



}



#content
{ 
box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
background-size: 100%;  
background:rgba(255,255,255,0.75);
width:75%; 
margin:0 auto;
padding: 30px;
text-align: center;
font-size:40px;
text-shadow: #FFFFFF 0 0 15px; 
color:#8B0000;
font-family:margit1;
}
#film
{   width:100%;    }
#main_poster{
	margin:20px;
	padding:0;
	float:left;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);

}

#description{
	text-align:left;
	font-size:30px;
	font-family: Nautilus Pompilius;

}
#description p {font-size:20px;}
#trailer{box-shadow: 0 0 5px 3px;}
#featured{margin:0 auto;
box-shadow: 0 0 5px 3px;}
.footer{
padding-top:400px;
width:101%;
color: red;
text-align:center; 
background-image: url(images/footer1222.png); 
background-repeat: no-repeat;      
background-size: 100%; 
display: inline-block;

}
.footer-list{ 
 margin-top: 10px;
text-align: center; 
list-style-type: none;
} 
.footer-list li{ 
font-family: FANTASY; 
color: #4B0082; 
text-decoration: none; 
display: inline;
list-style-type: none; 
font-size: 22px; 
padding: 0 20px;
} 
.footer-list a{color: #4B0082; text-shadow: #FFFFFF 0 0 15px; }
.footer p
{   font-family: SEGOE PRINT;
	font-size: 20px;
	color: #4B0082;
	text-align: center; 
text-shadow: #FFFFFF 0 0 15px; 
}
.slash
{
	font-size: 20px;
	color: red;
	padding: 0 20px;

}
.block-title{display: inline-block;
font-family:a_machinaortoshtregular;
font-size:50px;
margin:20px;
text-align:center;}
#featured {
 width: 940px;
  height: 450px; 
  background: #009cff url('orbit/loading.gif') no-repeat center center;
   overflow: hidden; 
}
.footer-list a:link,a:visited {
  
color:#4B0082;

text-decoration:none;

}


.footer-list a:hover,a:active {

color:#599100;
  
text-decoration:underline;

}	



